
@media screen and (max-width: 1199px){
    .item-meter{
        width: 50%;
        margin-bottom: 67px;
    }
    .item-meter:nth-child(3),
    .item-meter:nth-child(4){
        margin-bottom: 0;
    }
    .flex-meter{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .meter-min-box{
        padding-left: 115px;
        padding-right: 115px;
    }
}

@media screen and (max-width: 767px){
    .item-meter{
        width: 100%;
        margin-bottom: 40px !important;
    }
    .item-meter:last-child{
        margin-bottom: 0 !important;
    }
    .meter-min-box{
        padding-left: 15px;
        padding-right: 15px;
    }
}

